<ul>
    <li>{{menu-checkbox labelValue="Dev Environments" boxId="envs-cps-showDev" onStateChange=(action onMenuOptionChanged)}}</li>
    <li>{{menu-checkbox labelValue="Non Prod Environments" boxId="envs-cps-showNonProd" onStateChange=(action onMenuOptionChanged)}}</li>
    <li>{{menu-checkbox labelValue="Production Environments" boxId="envs-cps-showProd" onStateChange=(action onMenuOptionChanged)}}</li>
    <li role="separator" class="divider"></li>
    <li>{{menu-checkbox labelValue="Show Store Level" boxId="envs-cps-showStoreLevel" onStateChange=(action onMenuOptionChanged)}}</li>
</ul>