<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div>
      <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		<i class="fa fa-navicon fa-2x"></i>
      </span>
      <ul class="dropdown-menu">
        <li><input type="checkbox" id="showDev">
        	<label for="showDev">Dev Environments</label></li>
        <li><input type="checkbox" id="showNonProd">
        	<label for="showNonProd">Non Prod Environments</label></li>
        <li><input type="checkbox" id="showProd">
        	<label for="showProd">Production Environments</label></li>
        <li role="separator" class="divider"></li>
        <li><input type="checkbox" id="showStoreLevel">
        	<label for="showStoreLevel">Show Store Level</label></li>
     </ul>
   </div>
  </div>
</nav>