.env-detail-panel
  margin: $main-indent

.env-detail-name
  font-size: $font-size-xlarge

.env-detail-text
  font-size: $font-size-medium

.pms-name
  font-size: $font-size-medlarge

.pms-detail
  font-size: $font-size-medium
